<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shariat Group</title>
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/responsive.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../assets/font/fontawesome/css/all.css" rel="stylesheet">
</head>
<body>
    <!-- start header -->
    <nav id="responsive-navigation" style="position: fixed;">
        <ul>
            <!-- Responsive Nav = RN -->
            <li><a class="closeRN"><i class="fa fa-close fs-1 pointer mt-5" aria-hidden="true"></i></a></li>
            <li><a href="/index.html" class="fs-3">صفحه اصلی</a></li>
            <li>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <a class="fs-3 pointer RN-item">پروژ ها</a>
                <ul class="RN-Submenu-li">
                    <li>
                        <a href="Templates/Projects/index.html#all-projects" class="fs-4">
                            تمام پروژه ها
                        </a>
                    </li>
                    <li>
                        <a href="Templates/Projects/index.html#successed-projects" class="fs-4">
                            پروژه های انجام شده
                        </a>
                    </li>
                    <li>
                        <a href="Templates/Projects/index.html#current-projects" class="fs-4">
                            پروژه های جاری
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <a class="fs-3 pointer RN-item">ارتباط با ما</a>
                <ul class="RN-Submenu-li">
                    <li>
                        <a href="../../Templates/Contact/index.html#co-contact" class="fs-4">
                            راه های ارتباطی
                        </a>
                    </li>
                    <li>
                        <a href="../../Templates/Contact/index.html#co-address" class="fs-4">
                            آدرس شرکت
                        </a>
                    </li>
                    <li>
                        <a href="../../Templates/Contact/index.html#co-social" class="fs-4">
                            شبکه های اجتماعی
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="Templates/About/index.html" class="fs-4  pointer">
                    درباره ما
                </a>
            </li>
        </ul>
    </nav>
    <header style="height: 100vh;" class="d-flex justify-content-between">
        <div>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
                <div class="burger-menu">
                    <i class="fas fa-bars px-4 fs-1"></i>
                </div>
                <div class="container">
                    <a class="navbar-brand" href="/index.html">
                        <img src="../../assets/images/logo-site.png" alt="" width="140" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active fs-5" aria-current="page" href="#">صفحه اصلی</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    پروژ ها
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-center" data-bs-theme="dark"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item fw-bold"
                                            href="../Templates/Projects/index.html#all-projects">تمام پروژه ها</a></li>
                                    <li><a class="dropdown-item fw-bold"
                                            href="../Templates/Projects/index.html#successed-projects">پروژه های انجام
                                            شده</a></li>
                                    <li><a class="dropdown-item fw-bold"
                                            href="../Templates/Projects/index.html#current-projects">پروژه های جاری</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    ارتباط با ما
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-center"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item fw-bold"
                                            href="../../Templates/Contact/index.html#co-contact">راه های ارتباطی</a>
                                    </li>
                                    <li><a class="dropdown-item fw-bold"
                                            href="../../Templates/Contact/index.html#co-address">آدرس شرکت</a></li>
                                    <li><a class="dropdown-item fw-bold"
                                            href="../../Templates/Contact/index.html#co-social">شبکه های اجتماعی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5" href="Templates/About/index.html">درباره ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center w-100 padding-size">
            <div class="h-auto d-flex justify-content-center">
                <img class="bg-white rounded-3 images" src="../../assets/images/404.svg" alt="404" draggable="false">
            </div>
            <div class="d-flex flex-column align-items-center gap-5 h-auto mt-5 mt-sm-0">
                <h1 class="display-1 text-warning">404</h1>
                <p class="fs-2">متاسفانه صفحه مورد نظر یافت نشد!!</p>
                <a href="/" class="btn btn-primary col-12 fs-5">بازگشت به صفحه اصلی</a>
            </div>
         </div>
    </header>
    <!-- end header -->

    <!-- start footer -->
    <footer class="mt-5">
        <div class="container-fluid footer-section bg-map">
            <div class="footer-row b-border">
                <div class="row">
                    <div class="col-md-3 py-5 text-center">
                        <img src="../../assets/images/logo-site.png" alt="footer logo">
                        <p class="fs-5 py-4 text-justify px-4">
                            <span class="hover pointer">گروه شریعت</span> به عنوان یک شرکت ساختمانی تاثیر مثبت قابل
                            توجهی بر صنعت ساختمان دارد. با تمرکز بر
                            جزئیات و به کارگیری متخصصان ماهر، به ساختمان ها کمک می کنیم تا طراحی و اجرای بهتری داشته
                            باشند.
                        </p>
                    </div>
                    <div class="col-md-3 py-5">
                        <h3 class="text-yellow fw-bold">پروژه های جاری</h3>
                        <div class="py-5 b-border">
                            <a class="text-decoration-none" href="#">
                                <h5 class="mini-white hover">پروژه دانشجوی 6</h5>
                            </a>
                            <h6 class="text-muted en-font">Jan 23, 2023</h6>
                        </div>
                        <div class="py-5 ">
                            <a class="text-decoration-none" href="#">
                                <h5 class="mini-white hover">پروژه دانشجوی 24</h5>
                            </a>
                            <h6 class="text-muted en-font">Jan 23, 2023</h6>
                        </div>
                    </div>
                    <div class="col-md-3 py-5">
                        <h3 class="text-yellow fw-bold">آخرین پروژه ها</h3>
                        <div class="py-5 b-border">
                            <a class="text-decoration-none" href="#">
                                <h5 class="mini-white hover">پروژه دانشجوی 6</h5>
                            </a>
                            <h6 class="text-muted en-font">Jan 23, 2023</h6>
                        </div>
                        <div class="py-5 ">
                            <a class="text-decoration-none" href="#">
                                <h5 class="mini-white hover">پروژه دانشجوی 24</h5>
                            </a>
                            <h6 class="text-muted en-font">Jan 23, 2023</h6>
                        </div>
                    </div>
                    <div class="col-md-3 py-5 text-center">
                        <h3 class="text-yellow fw-bold">ما را دنبال کنید</h3>
                        <div class="py-5">
                            <a href="#"><i class="fab fa-instagram fs-2 px-3" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-telegram fs-2 px-3" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-twitter fs-2 px-3" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-youtube fs-2 px-3" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright py-4">
                <h6 class="text-center mini-white en-font">Copyright ©<span class="en-font" id="datetime"></span> All rights reserved | This template is made
                    by <a href="https://www.instagram.com/thesina_r/"
                        class="text-decoration-none mini-white hover fs-5">thesina_r</a></h6>
            </div>
        </div>
    </footer>
    <script src="../../assets/js/bootstrap.bundle.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/jquery-3.7.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/particles/particles.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/particles/app.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/swiper-element-bundle.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/all.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/all_2.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/font/fontawesome/js/all.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="../../assets/js/slider.js" type="text/javascript" charset="utf-8" async defer></script>
    <script>
        document.getElementById("datetime").textContent = new Date().getFullYear();
    </script>
</body>
</html>